*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__row {
  display: flex;
  max-width: 800px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.container__imageMain {
  max-height: 461px;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__item {
  padding: 24px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  background-color: #0a4f70;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.sidebar__item:hover,
.sidebar__item:focus {
  background-color: #f7f6f6;
  color: #0a4f70;
}

.sidebar__item.active {
  background-color: #f7f6f6;
  color: #0a4f70;
}

.sidebar__item:last-child {
  border-bottom: none;
}

.slider__container {
  background-color: #0a4f70;
  padding: 12px 20px;
}

.image__pickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image__pickerLabel {
  margin: 10px auto;
  padding: 12px;
  background-color: #0a4f70;
  color: #f7f7f7;
  cursor: pointer;
}

.image__pickerLabel:hover {
  background-color: #f7f6f6;
  color: #0a4f70;
}

.image__pickerInput {
  display: none;
}

.save__container {
  display: flex;
  align-items: center;
}

.save__button {
  border: 0;
  padding: 13px;
  margin-right: 2px;
  background-color: #0a4f70;
  color: #f7f6f6;
  cursor: pointer;
}

.save__button:hover {
  background-color: #f7f6f6;
  color: #0a4f70;
}

@media (max-width: 360px) {
  .container__row {
    flex-direction: column;
    align-items: center;
  }
  .container__imageMain {
    width: 300px;
  }
  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sidebar__item {
    flex: 1;
    border: 1px solid gray;
  }
}

@media (max-width: 540px) {
  .container__row {
    flex-direction: column;
    align-items: center;
  }
  .container__imageMain {
    width: 400px;
  }
  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sidebar__item {
    flex: 1;
    border: 1px solid gray;
  }
}

@media (max-width: 720px) {
  .container__row {
    flex-direction: column;
    align-items: center;
  }
  .container__imageMain {
    width: 540px;
    object-fit: contain;
  }
  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sidebar__item {
    flex: 1;
    border: 1px solid gray;
  }
}
